body{
    margin: 0;
    padding: 0;
    background-color: #EAD7E4 !important;
}

.btn{
    background-color: #8f5bfe;
    color: #f4e9f1;
}
.panier{
    position: sticky;
    top: 5px;
    left: 90vw;
    font-size: 3vh;
    width: 10vh;
    display: flex;
    justify-content: center;
    
}
#red__dot{
    position: absolute;
    top: 1px;
    right: 25px;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: red;
    visibility: hidden;
}
.btn:hover{
    color: #e4c9dc;
    box-shadow: 5px 5px #c892ba;
}
header{
    display: flex;
    justify-content: center;
    width: 100%;
}

header a img{
    margin-top: 50px;
    width: 30vh;
}
.title{
    text-align: center;
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
}

#cards{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    width: 300px;
    height: 375px;
    margin: 10px;
    overflow: hidden;
}
.card-body{
    z-index: 1;
}
.lien__image{
    height: 70%;
}
.card img {
    height: 100%;
    object-fit: cover;
    transition: 1000ms;
    z-index: -1;
}
.card .lien__image img:hover{
    transform: scale(1.1);
}
.card-price{
    font-size: 1.25em;
}
.card-text a{
    color: black;
    text-decoration: none;
    transition: 200ms;
    font-weight: 600;
}
.card-text:hover a{
    text-shadow: 2px 2px 2px #c892ba;
}
.description__teddies{
    display: flex;
    flex-wrap: wrap;
}
.description__teddies img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#colors__teddies{
    display: flex;
    list-style: none;
    margin-bottom: 1rem;
}
input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.color__dispo{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 5px;
}
.color__dispo:hover{
    cursor: pointer;
    border: 3px solid #8f5bfe;
}

.color__dispo:checked{
    border: 3px solid #8f5bfe;
}

.teddies__color{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid black;
}
.teddies__picture{
    width: 50%;
}

/* PAGE PANIER */

#panierVide{
    text-align: center;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    position: absolute;
}

#panierPlein{
    display: flex;
    flex-wrap: wrap;
}

#panier{
    max-height: 60vh;
    overflow-y: scroll;
}

#panier::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: #F5F5F5;
}

#panier::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

#panier::-webkit-scrollbar-thumb
{
    background-color: #8f5bfe;
}

#test__couleur{
    color: red;
    visibility: hidden;
}

.cart__container{
    width: 100%;
}

.number{
    background-color: transparent;
    border: none;
    cursor: default;
    color: black;
}

#clearStorage{
    width: 100%;
}

.card__cmd {
    display: flex;
    font-family: sans-serif;
    border-left: 2px solid #8f5bfe;
    border-bottom: 2px solid #8f5bfe;
    transition: border-left 200ms, border-bottom 200ms;
}
.card__cmd:hover {
    border-bottom: 5px solid #8f5bfe;
    border-left: 5px solid #8f5bfe;
}
.cmd__image{
    width : 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cmd__image img {  
    width: 100%;
}
.card__cmd p {
    margin: 0;
    padding: 0;
}
.description__cmd {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-size: 1.2em;
}
.cmd__color {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 5px;
    border: 1px solid black;
    background-color: red;
}
.quantity__delete {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-size: 1.5em;
}
.quantity__delete .controle__input{
    width: 100%;
    display: flex;
    justify-content: center;
}
.quantity__delete .controle__input button{
    width: 20%;
}
.quantity__delete .controle__input .quantity {
    display: block;
    width: 40%;
    font-size: 1.2em;
    text-align: center;
}
.quantity__delete .delete {
    display: block;
    width: 10vh;
    height: 5vh;
    font-size: 100%;
    background-color: #8f5bfe;
    border: none;
}
.total__cmd {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5em;
}